<div class="form-fields-container">
    <h3 class="form-field-title">Competition</h3>
    <div class="form-field-row">
        <label for="competitionName" class="form-field-label">Competition Name: </label>
        <input type="text" name="competitionName" id="competitionName" />
    </div>
    <div class="form-field-row">
        <label for="numberOfEvents" class="form-field-label">Number of events: </label>
        <input type="number" name="numberOfEvents" id="numberOfEvents" />
    </div>
</div>