<div class="form-fields-container">
    <h3 class="form-field-title">Competition</h3>
    <div class="form-field-row">
        <label for="competitionName" class="form-field-label">Competition Name: </label>
        <input type="text" name="competitionName" id="competitionName" />
    </div>
    <div class="form-field-row">
        <label for="numberOfEvents" class="form-field-label">Number of events: </label>
        <div class="form-field-number-container">
            <div
                class="form-field-number-button"
                data-target="numberOfEvents"
                data-action="decrement"
                data-component="competition"
            >-</div>
            <input
                type="number"
                name="numberOfEvents"
                value="<%= defaultNrOfEvents %>"
                id="numberOfEvents"
                class="form-field-number-input"
                min="1"
            />
            <div
                class="form-field-number-button"
                data-target="numberOfEvents"
                data-action="increment"
                data-component="competition"
            >+</div>
        </div>
    </div>
</div>