<div class="form-fields-container">
    <h3 class="form-field-title">Event</h3>
    <div class="form-field-row">
        <label for="eventName" class="form-field-label">Event Name: </label>
        <input type="text" name="eventName" id="eventName" />
    </div>
    <div class="form-field-row">
        <label for="numberOfTabs" class="form-field-label">Number of tabs: </label>
        <input type="number" name="numberOfTabs" id="numberOfTabs" />
    </div>
</div>