<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>SMX - Mock Generator</title>
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <h1>Mock Generator</h1>
        <form action="/form-response" method="POST" class="main-form">
            <div class="container">
                <%- include('../partials/event-page-partials/event-fields.ejs'); %>
            </div>
            <input type="text" name="test">
            <input type="submit">
        </form>
        
        <div id="destiny">
            <%- include('../partials/destiny.ejs'); %>
        </div>

        <div id="output"></div>

        <!-- <script>
            var template = new EJS({url: '../views/destiny.ejs'});

            $('#destiny').html(template.render());
        </script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $('#output').html('output');
        </script>
    </body>
</html>
