<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>SMX - Mock Generator</title>
    </head>
    <body>
        <h1>404 Not Found</h1>
        <div><%= err  %></div>
    </body>
</html>